body {
  font-family: 'PT Serif', serif !important;
  background-color: #f9f7f2;
}

.rest {
  float:left;
  #padding:20px;
  #z-index: 3;
  #width: 101.04px;
  #height: 48px;
  color: #ffffff;
  font-family: "PT Serif";
  #font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}


/* #bienvenido {

  #width: 543px;
  #height: 155px;
  color: #ffffff;
  font-family: "PT Serif";
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
} */

.txt-1{
  color: #ffffff;
  font-family: "Roboto Light";
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.book{
  width: 170px;
  height: 48px;
  border-radius: 3px;
  background-color: #6327eb;

  color: #ffffff;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.see{
  width: 170px;
  height: 48px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 24px;
  }
.darkButton {
  z-index: 3;
  width: 170px;
  height: 48px;
}

.rectangle {
  z-index: 4;
  width: 170px;
  height: 48px;
  border-radius: 3px;
  background: #6327eb;
}
.button {
  z-index: 4;
  width: 99.24px;
  height: 24px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

#historia_1{
  position:absolute;
  z-index:1;
  width:100%;
  height:100%;
}
.fondo_arena{
  background-color: #f9f7f2;
}
.fondo_gray{
    background-color: #262626;
}

.offers{
  background-color:#ffffff;
}

.reserva{
  background-color:#ffffff;
  margin-right: 0;
  padding-right: 0;
}
h5{
  color: #333333;
  font-family: Roboto Light;
  font-weight: 300;
  line-height: 32px;
  text-aling:left;
}

h2{
  color: #333333;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 64px;
}
h3{
  color: #ffffff;
 font-family: "PT Serif";
 font-weight: 700;
 line-height: 48px;
}
p{
  color: #333333;
  font-family: "Roboto Light";
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}
.white {
  color: #ffffff;
  text-aling:center;
}
.serif{
  font-family: "PT Serif";
  font-weight: 700;
}
.head_chef{
  color: rgba(51, 51, 51, 0.5);
}

.gray{
  color: rgba(255,255,255,0.5);
}


.blanco_negro {
  margin-top: 75px;    margin-bottom: 75px; background: rgba(249,247,242,1);
  background: -moz-linear-gradient(top, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249, 247, 242, 1)), color-stop(50%, rgba(249, 247, 242, 1)), color-stop(51%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f7f2', endColorstr='#000000', GradientType=0);
}
.blanco_negro75 {
  margin-top: 75px;    margin-bottom: 75px; background: rgba(249,247,242,1);
  background: -moz-linear-gradient(top, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249, 247, 242, 1)), color-stop(50%, rgba(249, 247, 242, 1)), color-stop(51%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(249, 247, 242, 1) 0%, rgba(249, 247, 242, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f7f2', endColorstr='#000000', GradientType=0);
}
.welcome {
  background-image:
    linear-gradient(
      #333333,
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/reserva.png");
    background-size: cover;
/*height: 480px;
width: 720px;*/

}

#principal {
	width:100%;
}

.nav-pie{
  margin-left auto; margin-right:auto;
}
.nav-pie ul{
  overflow:hidden;
	list-style:none;
}

.nav-pie  ul li {
	float:left;
}

#nav_header  {

	#width:70%;
	/*max-width:1000px;*/
	margin:20px auto;
}
#nav_header div{
  float:left;
}
#redes {
  float:right;
}

.menu_bar {
	display:none;
}

#nav_header  ul {
	overflow:hidden;
	list-style:none;
}

#nav_header  ul li {
	float:left;
}

#nav_header  ul li a {

  color: #ffffff;
	padding:20px;
  font-family: Roboto;
  #font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
	display:block;
	text-decoration:none;
}
.menu li a{
  color: #ffffff;
  padding:20px;
  font-family: Roboto;
  #font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  display:block;
  text-decoration:none;
}

.container{
  margin: :30px;
}
#nav_header  ul li span {
	margin-right:10px;
}

/*#nav_header  ul li a:hover {
	background:#037E8C;
}*/


section {
	padding:20px;
}

@media screen and (max-width:800px ) {
	#nav_headers  {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	#nav_header  ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}
}
